

.content {
    display: flex;
    gap: 10px;
    margin-top: 2rem;
}

.content > p {
    margin-bottom: 2rem;
}

.gridContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}


.flexContent {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}



.cartReserve {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}



.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.info > p {
    margin-top: 2rem;
}


.edit {
    background-color: rgb(15, 122, 15);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.excluir {
    background-color: rgb(182, 22, 22);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;


}

.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.spinner {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    margin-top: 2rem;
    border-top: solid 10px #1a70ba;
    animation: spin 1s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.btn {
    background-color: #2596be;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: auto;
    cursor: pointer;
    margin-top: 2rem;
}

.btnReserve {
    background-color: #2596be;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cart {
    width: 400px;
}

.location {
    color: red;
}

.center {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fefefefe;
}

.crud_specific {
    display: flex;
    align-items: center;
    gap: 1rem;


}



@media screen and (max-width: 900px) {
    .gridContent {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .center {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        background-color: #fefefefe;
    }
    
}




@media screen and (min-width: 901px) and (max-width: 1300px) {
    .gridContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    .center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }
    
}