.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464c4f;
    height: 100vh;
    width: 100vw;
}

.home {
    background-color: yellow;
    color: black;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
    gap: 15px;
}

.info {
    color: black;
}


.input {
    background-color: rgb(39, 37, 37);
    font-size: 2em;
    border-radius: 9px;
    padding: 5px;
}

.input::placeholder {
    font-size: 20px;
}

.label {
    font-size: 2rem;

}


.btn {
    background-color: rgb(5, 180, 5);
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;

}


.error {
    color: red;
    font-size: 1.5em;
    margin-top: 10px;
}


@media screen and (max-width: 768px) {

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;
        height: 500px;
        gap: 10px;
    }
    
    .input {
        background-color: rgb(39, 37, 37);
        font-size: 1em;
        border-radius: 9px;
        padding: 5px;
        width: 60%;
    }
    
    .input::placeholder {
        font-size: 17px;
    }
    
    .label {
        font-size: 2rem;
    
    }

    .btn {
        background-color: rgb(5, 180, 5);
        font-size: 1em;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    
    }
    
    
}